.asset-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preview-card {
  display: inline-block;
  width: 10em;
  height: 20em;
  margin: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  text-align: center;
}
